* {
    border-radius: 0 !important;
}

.navbar {
  color: #ffffff;
  background-color: rgb(46, 12, 12);
}

nav a:link, a:visited, a:active { color: white !important; }
nav a:hover { color: rgb(153, 123, 153) !important}


html {
  position: relative;
  min-height: 100%;
  -webkit-tap-highlight-color: white;
}
body {
  margin-bottom: 60px; 
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; 
  line-height: 60px;
  color: white;
  background-color: rgb(46, 12, 12);
}

footer p:hover {color: rgb(153, 123, 153) }

.btn-primary, .btn-primary:active, .btn-primary:focus{   
    color: white;
    background-color: rgb(46, 12, 12);
    border-color: rgb(46, 12, 12);
}
.btn-primary:hover {
    color: rgb(153, 123, 153)
}

p {
  margin-bottom: 0;
}

.text {
  color: #777777;
  line-height: 200%;
  font-size: 18px;
}

img {
  padding: 10px;
}

img.portfolio {
  width: 250px;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  padding: 30px;
  margin: 5px;
}
